body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#scanner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

#product-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

input, textarea {
  margin: 5px 0;
  padding: 10px;
  font-size: 1em;
}

button {
  margin-top: 10px;
  padding: 10px;
  font-size: 1em;
  background-color: #0078e7;
  color: white;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: #bbb;
}
